*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

:root{
    --green:#1FDF64;
}

::-webkit-scrollbar{
    width:0px;
    background:transparent;
}

::-webkit-scrollbar-thumb{
    background: #1FDF64;
}

/* --------this is main body--------------- */

.container{
    padding: 0.5rem;
    background-color: rgb(30,30,30);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    row-gap: 2rem;
}

/* Banner */
.banner{
    border: 2px solid black;
    width: 85vw;
    height: 22rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    background-color: rgb(18, 18, 18);
    padding: 1rem;
    column-gap: 2vw;
    align-self: center;
}

#box_1{
    grid-column: 2 / 3;
    color: #fff;
    align-self: center;
    font-weight: 600;
}

#box_2{
    grid-column: 4 / 5;
    font-weight: 700;
    font-size: 0.8em;
    align-self: center;
    justify-self: end;
    margin: 0 2em;
    padding: 0.2em;
}

#box_2 span{
    background-color: black;
    border-radius: 2em;
}

#box_3{
    grid-row: 2 / 5;
    padding: 1em;
    height: 15em;
    width: 15em;
    align-self: center;
    justify-self: center;
    background-image: url('Spotify assets/best-song.jpg');
    background-size: cover;
}

#box_4{
    padding: 0;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    font-size: 5.5em;
    letter-spacing: 0.1em;
    line-height: 100%;
    font-weight: 900;
}

#box_4 span{
    text-decoration: underline;
}

#box_5{
    grid-column: 2 / 5;
    font-weight: 600;
    align-self: center;
    line-height: 1.5em;
}

#box_6{
    grid-column: 2 / 5;
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    padding: 0.5em;
}

.play{
    color: rgb(18, 18, 18);
    background-color: rgb(30, 215, 96);
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 2em;
    font-weight: 900;
    border: 1px solid rgb(30, 215, 96);
}

.play:hover{
    cursor: pointer;
    border: 2px solid rgb(30, 215, 96);
    transform: scale(1.05);

}

.unfollow{
    background-color: rgb(18, 18, 18);
    color: rgb(30, 215, 96);
    font-weight: 900;
    font-size: 1em;
    padding: 1em 2em;
    border-radius: 2em; 
    border: 1px solid #fff;
    width: 140px;
    margin: 5px;
}

.unfollow:hover{
    border: 2px solid #fff;
    transform: scale(1.05);
    cursor: pointer;
}

#box_6 i{
    font-size: 2.5em;
    color: rgb(200, 200, 200);
}

#box_6 i:hover{
    color: #fff;
    transform: scale(1.1);
}

/* Greeting */

#hrList{
    font-size: 1.7rem ;
    font-weight: 900;
}

/* recent playlist */

.recent{
    width: 100%;
    height: 13rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 1em;
    row-gap: 1em;
}

.rbox{
    background-color: rgb(45,45,45);
    border-radius: 0.3em;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    column-gap: 1em;
    align-items: center;
    font-weight: 600;
}

.rbox span img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

@media (max-width: 700px){
    .banner{
        display: none;
    }
    .recent{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
}

/* -----playlist cards----- */

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7rem;
    color: #fff;
    height: 20rem;
    row-gap: 1rem;
    margin-bottom: 0.7rem;
}


.card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.card_header h3{
    font-weight: 900;
    font-size: 1.5em;
}

.card_header h6{
    color: rgb(170,170,170);
    font-size: 0.7em;
    font-weight: 700;
}


.cardContainer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 15em;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    background-color: rgb(45,45,45);
    height: 90%;
    width: 80%;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.7em;
    padding: 0.7em;
}

.card_img {
    width: 100%;
    height: 70%;
}

.card_img img{
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
}

.card_title{
    font-weight: 800;
}

.card_subtitle{
    font-weight: 600;
    color: rgb(170,170,170);
}

/*--------this is footer section-----------*/


footer{
    position: fixed;
    background-color: black;
    height:72px;
    width:100vw;
    bottom:0px;
    color:white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
}

#footerSong{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-end: 1;
    grid-column-end: 2;
    justify-self: start;
    align-self: center;
}

#footerSong span img{
    height: 56px;
    width:56px;
    background-size:cover;
    cursor:pointer;
    overflow: clip;
    border-radius: 7px;
}

.fa-chevron-up, .fa-chevron-down{
    position:absolute;
    color:white;
    right:5px;
    top:5px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50%;
    height:24px;
    width:24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-chevron-down{
    display: none;
}

.fa-chevron-up.active{
   display: none;
}

.fa-chevron-down.active{
    display: flex;
}

#footerSong span{
    margin:6px;
}

#footerSong span h2{
    font-size:13px;
    margin:3px;
    margin-left: 0px;
}

#footerSong span h2:hover{
    text-decoration: underline;
}

#footerSong span p{
    font-size:11px;
    color:grey;
    text-wrap: nowrap;
}

#footerSong span p:hover{
    text-decoration: underline;
    color:white;
    cursor:pointer;
}

#footerSong span i{
    font-size: 17px;
}

.line-heart{
    color:grey;
    margin-bottom:5px;
    display: block;
    margin-left: 11px;
}

.line-heart:hover{
    color:white;
}

.line-heart.active{
    display: none;
}

.solid-heart{
    display: none;
    color:#1FDF64;
    margin-bottom:5px;
}

.solid-heart.active{
    display:block;
}

/*------footer player starts--------------*/

#footerPlayer{
    color:grey;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
    transition:all 0s linear 0s;
}

#fp1{
    width:200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 18px;
    position:relative;
}

#fp2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 11px;
}

#fp2 p{
    margin-top:6px;
}

.fa-play, .fa-pause{
    background-color: white;
    color:black;
    height:32px;
    width:32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding-left: 3px;
    padding-top: 2.5px;
}

.fa-play{
    display: flex;
}

.fa-pause{
    display: none;
    padding-top: 0px;
    padding-left:0px;
}

.fa-play.active{
    display: none;
}

.fa-pause.active{
    display: flex;
}

.fa-play:hover{
    transform: scale(1.1);
}

.fa-pause:hover{
    transform:scale(1.1);
}

.fa-shuffle,.fa-backward-step,.fa-forward-step,.fa-repeat{
    margin-top: 10px;
    width:auto;
}

#fp2 hr{
    height:3.5px;
    width:25vw;
    border:none;
    background-color: white;
    margin:5px;
    border-radius: 15px;
    margin-top: 10px;
}

#fp2 hr:hover{
    background-color:#1FDF64;
}

.fpr:hover{
    color:white;
}

.msg.active{
    color:#1FDF64;
}

.fa-repeat.active{
    color:#1FDF64;
}

.fa-repeat:hover.active{
    color:#1FDF64;
}

.msg::after{
     content: "";
     display: block;
     height:3px;
     width:3px;
     background-color: #1FDF64;
     margin-top:3px;
     border-radius: 50%;
     margin:auto;
     margin-top:3px;
     display: none;
}

/*-------------footer tools---------------*/
#footerTools{
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
    align-self: center;
}

#footerTools div{
    width:240px;
    display: flex;
    justify-content: space-between;
    color:grey;
    position:relative;
}

#footerTools div hr{
    width:80px;
    background-color:white;
    height: 3.5px;
    border:none;
    border-radius: 5px;
    margin:auto;
    margin-left:5px;
    margin-right: 15px;
}

#footerTools div hr:hover{
    background-color: #1FDF64;
}

.message{
    position:absolute;
    bottom:30px;
    color:white;
    background-color: rgba(54, 54, 54, 0.54);
    font-size: 13px;
    border-radius: 5px;
    padding:6px;
    display: none;
}

#footerPlayer i, #footerTools i{
    position:relative;
    text-wrap: nowrap;
}

#footerTools i:hover{
   color:white;
}

#footerTools i:hover.active{
    color:#1FDF64;
}
/* ----------------- Extra Functionality---------------------------*/

.show{
    background-color: rgb(30,30,30);
    color: white;
    border-style: solid;
    border-width: 0 0 0 0;
    border-color:rgb(30,30,30);
    cursor:pointer;
}
#cd1{
    
    grid-template-columns: repeat(7, 1fr);
    height: 15em;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}
#cd2{
    
    grid-template-columns: repeat(7, 1fr);
    height: 15em;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}
#cd3{
    
    grid-template-columns: repeat(7, 1fr);
    height: 15em;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

@media (max-width:800px){

    /*------------------------this is footer section-----------------*/
    footer{
        width:800px;
    }
}